.main_container{
  background-color: aliceblue;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .table_container{
    margin: 20px;
    padding: 40px;
  }
  #btn1{
    background-color: #0b0c0e;
	color: white;
	width: 130px;
	height: 40px;
	border-radius: 10px;
	outline: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
  margin-left: 20px;
}